body {
  background: #000000;
  font-family :Serif;
}
.paragraphe {
  color: hsl(0, 0%, 100%);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
p {
  font-family: Century, sans-serif;
}
/* Styles pour l'impression */
@media print {
  body {
    background: none;
  }
  .paragraphe {
    color: #000000;
  }
  ul {
    display: none;
  }
  header {
    display: none;
  }
}